.mz-addons-reaction-roll img.reaction-icon {
  display: block;
  float: left;
  width: 64px;
  height: 64px;
}

.mz-addons-reaction-roll p.reaction-title {
  font-family: 'Modesto Condensed';
  font-size: 16pt;
  display: block;
}

.mz-addons-reaction-roll p.reaction-details {
  font-size: 14px;
  font-family: sans-serif;
}